body{
    background-color: lightgray;
}

.blue{
    color: lightblue;
}

.big{
    font-size: 32px;
    font-weight: bold;
}

.border{
    border: 2px solid white;
}

#block{
    border: 5px solid black;
}